@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.bg-grad {
  background: linear-gradient(180deg, #ded8d5 50%, #f8f9fa 85%);
}

.nav {
  background-color: #ded8d5;
  border-radius: 0.5rem;
  padding: 0 1rem;
  text-transform: lowercase;
  letter-spacing: 0.05rem;
  opacity: 0.8;
}

.nav-logo {
  width: 10rem;
}

.hidden {
  display: none;
}

.h60vh {
  height: 60vh;
}

.btn {
  box-sizing: content-box;
  padding: 0.5rem 1.2rem;
  border: 1px solid #f37b57;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #f37b57;
}
.btn:hover {
  background-color: #f37b57;
  color: #f8f9fa;
  text-decoration: none;
}

.typo-min {
  font-size: 0.8rem;
}

.txt-bg {
  background-color: #6464642f;
  font-style: italic;
}

.txt-clr {
  color: #f37b57;
}

.txt-justify {
  text-align: justify;
}

.txt-num {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #6464641e;
}

.txt-title__item {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  display: inline-block;
  position: relative;
  cursor: context-menu;
}
.title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  border-bottom: 0.2rem solid #f37b57;
}
.title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.txt-link {
  color: #f37b57;
  text-decoration: none;
}
.txt-link:hover {
  color: #f37b57;
  font-size: 1.2rem;
}

.txt-anim {
  position: absolute;
  right: 0;
  width: 100;
  background-color: #f8f9fa;
  animation: writing 3s infinite;
}
@keyframes writing {
  from {
    width: 50%;
  }
  to {
    width: 20%;
  }
}

.card {
  height: 100%;
  border-radius: 1rem;
}

.news__item {
  overflow: hidden;
  transition: transform 500ms ease;
  height: 60vh;
  cursor: context-menu;
}
.news__item:hover {
  transform: translateY(0);
  transition-delay: 500ms;
}

.item__content {
  height: inherit;
  background-color: #64646473;
  color: #f8f9fa;
  padding: 1rem;
  transform: translateY(70%);
  transition: transform 500ms ease;
}
.item__content:hover {
  transform: translateY(0);
  transition-delay: 500ms;
}

.bg-pt-sz, .item4, .item3, .item2, .item1 {
  background-position: center center;
  background-size: cover;
}

.item1 {
  background-image: url(../img/news-1.svg);
}

.item2 {
  background-image: url(../img/news-2.png);
}

.item3 {
  background-image: url(../img/news-3.svg);
}

.item4 {
  background-image: url(../img/news-4.svg);
}

.btn__blog {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn__blog:hover {
  background-color: #f37b57;
  border-color: #f37b57;
}

@media screen and (min-width: 768px) {
  .blog__header {
    z-index: 10;
    width: 55%;
    padding: 2rem;
    background-color: #6464642f;
  }

  .blog__img {
    position: absolute;
    width: 50%;
    right: 4.5rem;
    top: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
