// General

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

@mixin height-vh($height) {
  height: $height;
}

.h60vh {
  @include height-vh(60vh);
}

.hidden {
  display: none;
}

// Background colors

.bg-grad {
  background: linear-gradient(180deg, $primary 50%, $secondary 85%);
}

// Nav-bar

.nav {
  background-color: $primary;
  padding: 0 1rem;
  text-transform: lowercase;
  letter-spacing: 0.04rem;
}

.nav-logo {
  width: 10rem;
}


// Btns

@mixin btn($btn-clr1, $btn-clr2, $btn-border-clr) {
  box-sizing: content-box;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background: $btn-clr1;
  border: 1px solid $btn-border-clr;
  border-radius: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: $btn-clr2;

  &:hover {
    background: $btn-clr2;
    color: $btn-clr1;
    border: $btn-border-clr;
  }
}

.btn-accent {
  @include btn($success, $secondary, $success);
}

.btn-white {
  @include btn($secondary, $success, $secondary);
}

.btn-black {
  @include btn($secondary, black, $secondary);
}

// Text styles

.typo-min {
  font-size: 0.8rem;
}

.txt-bg {
  background-color: #6464642f;
  font-style: italic;
}

.txt-justify {
  text-align: justify;
}

.txt-num {
  font-family: $ft-accent;
  font-weight: 700;
  font-size: 5rem;
  color: #6464641e;
}

.txt-title__item {
  font-family: $ft-accent;
  font-weight: 500;
  font-size: 1.5rem;
}

.title {
  font-family: $ft-accent;
  padding-bottom: 0.4rem;
  font-weight: 600;
  display: inline-block;
  position: relative;
  cursor: context-menu;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-bottom: 0.2rem solid $success;
    z-index: 0;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.txt-link {
  color: $success;
  text-decoration: none;
  &:hover {
    color: $success;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .txt-anim {
    position: absolute;
    right: 0;
    width: 100;
    background-color: $secondary;
    animation: writing 3s infinite;

    @keyframes writing {
      from {
        width: 50%;
      }
      to {
        width: 20%;
      }
    }
  }

  .hero-img {
    position: absolute;
    right: 1rem;
    width: 55%;
  }
}

// Images and video

video[poster] {
  object-fit: cover;
}

.logo-round {
  z-index: 1; 
  height: 15rem;
}