.news__item {
  overflow: hidden;
  transition: transform 500ms ease;
  height: 60vh;
  cursor: context-menu;

  &:hover {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}

.item__content {
  height: inherit;
  background-color: #64646473;
  color: $clr-secondary;
  padding: 1rem;
  transform: translateY(75%);
  transition: transform 500ms ease;
  cursor: pointer;
  &:hover {
    transform: translateY(30%);
    transition-delay: 500ms;
  }
}

.bg-pt-sz {
  background-position: center center;
  background-size: cover;
}

@mixin bg-img($bg-img-src) {
  background-image: $bg-img-src;
  @extend .bg-pt-sz;
}

.item1 {
  @include bg-img(url(../img/news-1.svg))
}

.item2 {
  @include bg-img(url(../img/news-2.png));
}

.item3 {
  @include bg-img(url(../img/news-3.svg));
}

.item4 {
  @include bg-img(url(../img/news-4.svg));
}

.btn__blog {
  background-color: $clr-secondary;
  border-color: $clr-secondary;
  &:hover {
    background-color: $clr-accent;
    border-color: $clr-accent;
  }
}

@media screen and (min-width: 768px) {

  .blog__header {
    z-index: 10;
    width: 55%;
    padding: 2rem;
    background-color: #6464642f;
  }

  .blog__img {
    position: absolute;
    width: 50%;
    right: 3.5rem;
    top: 3rem;
  }
  
}

@media screen and (min-width: 1500px) {
  .blog__img {
    width: 44%;
  }
}