@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

// Colors
$clr-primary: #ded8d5;
$clr-secondary: #f8f9fa;
$clr-btn: #15322c;

// Font
$ft-primary: "Montserrat", sans-serif;